# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
venv.bak/
.env

# Jupyter笔记本检查点
.ipynb_checkpoints

# IDE / 编辑器特定文件
.vscode/
.idea/

# PInG项目特定：微调配置、微调模型和输出
configs/
models/
output/
